name: Deploy Vite + Vue to GitHub Pages

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      # ---- ВАЖНО ----
      # УСТАНАВЛИВАЕМ PNPM через corepack (официально!)
      - name: Enable corepack
        run: corepack enable

      - name: Install pnpm 10
        run: corepack prepare pnpm@10 --activate
      # ----------------

      - name: Show pnpm version
        run: pnpm -v

      - name: Install dependencies
        run: pnpm install

      - name: Build project
        run: pnpm build

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: gh-pages
          publish_dir: ./dist
